<!-- <div class="widgets">
  <div class="col-md-4 bgclass">
    <h2>Weapon detection</h2>
    <p>Detect the presence of threat-posing elements sneaking under your surveillance system. Choose the set of objects that is off-limits and let the smart cam take care</p>
    <img src="/modules/core/client/img/brand/abt1.jpeg">
  </div>
  <div class="col-md-4 bgclass">
    <h2>Instant notifications</h2>
    <p>Do not worry about being around all the time. Subscribe for alerts and our admin will make sure you get instant notifications on your phone or mail, or both if you want so</p>
  </div>
  <div class="col-md-4 bgclass">
    <h2>Video Analytics</h2>
    <p>Keep a track of the all the elements that visit your area under surveillance. Track this data over a day,week,month or year. This 'll help identify the time-slots more probable of danger' </p>
  </div>
</div> -->

<div class="about-page col-lg-12 full-page">
<div class="col-lg-1"></div>
	<img class="col-lg-4" src="/modules/core/client/img/brand/abtus2.jpg">
	<div class="col-lg-7">
		<div class="col-lg-10 title">About Us</div>
		<div class="col-lg-10 desc">SmartCams is the market leader in providing Intelligent Video Analytics, video content analysis, and automated surveillance solutions. Whether it is facial recognition, retail business intelligence, advanced security analytics, or Customer Metrics; SmartCam's multiple platform coverage permits its analytics technology to be seamlessly integrated with a diverse range of existing hardware via embedded, PC/server, or cloud-based.</div>
</div>

<!-- <div class="about-page col-lg-6">
	<img class="col-lg-3" src="/modules/core/client/img/brand/abt1.jpeg">
</div> -->