

<div class="about-page col-lg-12 full-page">
<div class="col-lg-1"></div>
	<img class="col-lg-4" src="/modules/core/client/img/brand/abtus2.jpg">
	<div class="col-lg-7">
		<div class="col-lg-10 title">About Us</div>
		<div class="col-lg-10 desc">SmartCams is efficient in providing Intelligent Video Analytics, video content analysis, and automated surveillance solutions. Whether it is facial recognition, retail business intelligence, advanced security analytics, or Customer Metrics; SmartCam's multiple platform coverage permits its analytics technology to be seamlessly integrated with a diverse range of existing hardware via embedded, PC/server, or cloud-based.</div>
</div>

<!-- <div class="about-page col-lg-6">
	<img class="col-lg-3" src="/modules/core/client/img/brand/abt1.jpeg">
</div> -->