

 <div class="container" style="margin-top: 80px;">
 	<div class="col-xs-4" style="margin-top: 60px; color: #337ab7">
		
		<div class="row">
			<div class="col-sm-12 col-xs-6 first-box">
		        <div class="col-xs-4"><h1><span class="glyphicon glyphicon-earphone"></span></h1></div>
		        <div class="col-xs-8">
		        <h3>Phone</h3>
		        <p>+1-619-483-7097</p><br>
		        </div>
		    </div>
		</div>
		<div class="row">
		    <div class="col-sm-12 col-xs-6 second-box">
		        <div class="col-xs-4"><h1><span class="glyphicon glyphicon-home"></span></h1></div>
		        <div class="col-xs-8">
		        <h3>Location</h3>
		        <p>1 Washington Sq, San Jose, CA 95192</p><br>
		        </div>
		    </div>
		</div>
		<div class="row">
		    <div class="col-sm-12 col-xs-6 third-box">
		        <div class="col-xs-4"><h1><span class="glyphicon glyphicon-send"></span></h1></div>
		        <div class="col-xs-8">
		        <h3>E-mail</h3>
		        <p>info@smartCams.com</p><br>
		        </div>
		    </div>
		</div>
		<!-- <div class="row">
		    <div class="col-sm-12 col-xs-6 fourth-box">
		    	<div class="col-xs-4"><h1><span class="glyphicon glyphicon-leaf"></span></h1></div>
		    	<div class="col-xs-8">
			        <h3>Web</h3>
			        <a href="http://ec2-52-41-107-173.us-west-2.compute.amazonaws.com">Smart Cams</a>
		        </div>
		    </div>
		</div> -->
	</div>
	<div class="col-xs-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.3092217614058!2d-121.88326018482594!3d37.33518737984182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fccb864de43d5%3A0x397ffe721937340e!2sSan+Jos%C3%A9+State+University!5e0!3m2!1sen!2sus!4v1494861122871" width="600" height="450" frameborder="0" style="border:0; position: static; max-height: 450px; max-width: 700px; margin-top: 30px;" allowfullscreen></iframe>	
	</div>
</div>