<!-- 

<div class="contact-page col-lg-12 full-page">
<div class="col-lg-1"></div>
	<img class="col-lg-4" src="/modules/core/client/img/brand/contact1.jpg">
	<div class="col-lg-7">
		<div class="col-lg-12 title">Contact Us</div>
		<div class="col-lg-12 desc">619-483-7097<br/>
		info@smart_cam.com<br/>
		One Washinton Square<br/>
		#112, San Jose, CA 95119</div>
</div> -->

 <div class="container">
<h1>Contact Address</h1><br>
	<div class="row text-center">
		<div class="col-sm-3 col-xs-6 first-box">
        <h1><span class="glyphicon glyphicon-earphone"></span></h1>
        <h3>Phone</h3>
        <p>+1-619-483-7097</p><br>
    </div>
    <div class="col-sm-3 col-xs-6 second-box">
        <h1><span class="glyphicon glyphicon-home"></span></h1>
        <h3>Location</h3>
        <p>One Washington Square</p><br>
    </div>
    <div class="col-sm-3 col-xs-6 third-box">
        <h1><span class="glyphicon glyphicon-send"></span></h1>
        <h3>E-mail</h3>
        <p>info@smartCams.com</p><br>
    </div>
    <div class="col-sm-3 col-xs-6 fourth-box">
    	<h1><span class="glyphicon glyphicon-leaf"></span></h1>
        <h3>Web</h3>
        <p>www.yourdomain.com</p><br>
    </div>
	</div>
</div>